include/
lib/
simple_file_user.egg-info/
simple_file_user/__pycache__/
dist/
archive/
.vscode/
pyvenv.cfg
Scripts/activate
Scripts/activate.bat
Scripts/Activate.ps1
Scripts/deactivate.bat
Scripts/easy_install-3.7.exe
Scripts/easy_install.exe
Scripts/pip.exe
Scripts/pip3.7.exe
Scripts/pip3.exe
Scripts/python.exe
Scripts/pythonw.exe